.chats {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  background-color: #555555;
  height: 1px;
  flex-grow: 1;
  overflow-y: auto;
  align-items: flex-start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chats::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chats {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
