@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  background-color: dimgray;
  overflow-y: hidden;
  font-family: nunito, sans-serif;
}
