@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  /* fallback property for mobile devices which don't support css variables */
  height: 100vh;
  /* the css variable --vh100 is set by javascript. See the useEffect hook in App.js  */
  /* setting by javascript is to fix the bug of disappearance of lower part on initial load */
  height: var(--vh100, 100vh);
  display: flex;
  background-color: dimgray;
  overflow-y: hidden;
  font-family: nunito, sans-serif;
}
